  <app-nav></app-nav>

  <div class="centering">
  <mat-card class="reg-card">
    <form [formGroup]="form" (ngSubmit)="registration()">
      <h2 class="center"><b>Regisztráció</b></h2>
      
      <mat-card id="alertCard" class="alert" *ngIf="alertMessage">
        {{alertMessage}}
      </mat-card>

      <mat-form-field class="max-width" appearance="fill">
        <mat-label>E-mail</mat-label>
        <input type="email" name="email" matInput placeholder="E-mail cím" required formControlName="email">
        <mat-hint>Ez lesz az azonosítód</mat-hint>
      </mat-form-field>

      <mat-form-field class="max-width" appearance="fill">
        <mat-label>Jelszó</mat-label>
        <input type="password" name="password" matInput placeholder="Jelszó" required formControlName="password1">
        <mat-hint align="end">min. hossz 6 / {{form.value.password1.length}}</mat-hint>
      </mat-form-field>

      <mat-form-field class="max-width" appearance="fill">
        <mat-label>Jelszó újra</mat-label>
        <input type="password" name="password" matInput #password2 required placeholder="Jelszó újra"
          formControlName="password2">
        <mat-hint align="end">min. hossz 6 / {{password2.value.length}}</mat-hint>
      </mat-form-field>

      <br><br>
      <div><button type="submit" mat-raised-button color="primary" class="max-width" [disabled]="form.invalid">Regisztráció</button></div>
      <br>
      <div><button mat-stroked-button color="accent" class="max-width" [routerLink]="[ '/login' ]">Bejelentkezés</button></div>
    </form>
  </mat-card>
</div>