<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a mat-button [routerLink]="[ '/' ]">
      Jegyzettár
    </a>
    <span style="flex: 1 1;"></span>
    <!--<button mat-button [matMenuTriggerFor]="menu">
      Lakatos Merlon&nbsp;
      <mat-icon>arrow_drop_down</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item disabled>
        <mat-icon>person</mat-icon>
        <span>Profil</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>settings</mat-icon>
        <span>Beállítások</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>arrow_back</mat-icon>
        <span>Kijelentkezés</span>
      </button>
    </mat-menu>-->

    <div *ngIf="user">
      <button color="accent" mat-button (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
    </div>

  </mat-toolbar-row>

</mat-toolbar>
